/**/
.col-left, .col-main {
  height: 100%;                        /* para falta de suporte */
  height: -webkit-calc(100% - 100px);  /* para Chrome */
  height: -moz-calc(100% - 100px);     /* para Firefox */
  height: calc(100% - 100px);          /* para suporte nativo */
 }
body,html{height: 100%; margin: 0; background: #2a3f54;}
.sistema
body{ margin:0; padding:0; font-family: 'Open Sans', sans-serif, Arial; }
body.body-login{ background:url(../images/background-login.jpg) left top no-repeat; background-size:100%; padding-top:5%; height:initial; }
a{ text-decoration:none; }
ul{ list-style:none; margin:0; padding:0; }
img{ border:0; }
form{ margin:0; padding:0; }
textarea{ min-height:100px !important; font-family:Arial; }

*:focus {
    outline: none;
}
textarea:focus, input:focus{  }
.clear{ clear:both; margin:0; padding:0; height:0; line-height:0; }

.msg{ text-align:center; font-family:Arial; font-weight:bold; font-size:12px; color:#ff0000; text-transform:uppercase; padding:7px 0 7px 0; margin:0; }

.error{ color:#FF0000; font-size:11px; font-weight:bold; text-transform:uppercase; }

.wrapper{ width:100%; margin:0 auto; }
.container{ padding:0 15px; }
/* menu lateral */
.col-left{ background-color:#2A3F54; min-height:100%; width:230px; padding:0; position:fixed; z-index:1; }
.col-left .logo-menu{ width:100%; text-align:center; padding:10px 0; }
.col-left .col-welcome{ padding-bottom:25px; }
.col-left .profile-icon{ float:left; width:35%; }
.col-left .profile-icon .img-circle.profile-img{
	width:58%;
	background:#FFF;
	margin-left:15%;
	z-index:1000;
	position:inherit;
	margin-top:20px;
	border:1px solid rgba(52,73,94,.44);
	padding:4px;
}
.img-circle{ border-radius:50%; }
.col-left .welcome-msg{ padding:25px 10px 10px; width:50%; float:left; }
.welcome-msg span{ font-size:13px; line-height:30px; color:#BAB8B8; }
.welcome-msg h2{ font-size:14px; color:#ECF0F1; margin:0; font-weight:300; }
.menu-mobile-icon{ display:none; }
.main-menu-side{ padding:0; }
.menu-section{ margin-bottom:35px; }
.menu-section h3{ padding-left:15px; color:#FFF; text-transform:uppercase; letter-spacing:.5px; font-weight:700; font-size:14px; margin:0; }
.nav-sm .menu-section h3{ padding:0; text-align:center; }
.menu-section > ul{ margin-top:0; margin-bottom:25px; }
.nav{ padding-left:0; margin-bottom:0; list-style:none; }
.nav.side-menu > li{ position:relative; display:block; cursor:pointer; }
.nav.child-menu > li > a,
.nav.side-menu > li > a{ color:#E7E7E7; font-weight:500; }
.nav.side-menu > li > a{ margin-bottom:3px; font-size:14px; text-transform:uppercase;}
.nav > li > a{ padding:13px 15px 0; }
.nav-sm .nav > li > a{ padding:10px 3px; text-align:center; font-weight:400; font-size:10px; margin-bottom:0; word-break: break-word;}
.nav.top_menu > li > a,
.nav > li > a{ position:relative; display:block; }
.child-menu{ display:none; }
.nav.child-menu li{ padding-left:30px; position:relative; }
.nav.child-menu > li > a{ color:rgba(255,255,255,.75); font-size:12px; padding:9px 0 3px; }
/*
ul.nav.child-menu li:before{
	background:#35635f;
	bottom:auto;
	content:"";
	height:8px;
	left:15px;
	margin-top:12px;
	position:absolute;
	right:auto;
	width:8px;
	z-index:1;
	border-radius:50%;
}
ul.nav.child-menu li:after{ border:1px solid #425668; bottom:0; content:""; left:18px; position:absolute; top:0; }
*/

.main-menu span.fas{ float:right; text-align:center;  margin-top:2px; font-size:10px; min-width:inherit; color:#C4CFDA; }
.nav-sm .main-menu span.fas{ display:none; }
.main-menu .fa{ width:26px; opacity:.99; display:inline-block; font-family:FontAwesome; font-style:normal; font-weight:400; font-size:18px; }
.sistema .col-left .main-menu-side i.fas{ width:0px; height:0; text-indent:-9999px; }

.sistema.nav-sm .col-left{ width:70px; padding:0; z-index:9999; position:absolute; }
.nav-sm .col-left .profile-icon{ width:100%; float:none; text-align:center; }
.nav-sm .col-left .profile-icon .img-circle.profile-img{ width:50%; margin:20px 0 0; }
.sistema.nav-sm .col-left .welcome-msg{ display:none; }
.sistema.nav-sm .col-left .main-menu-side i.fas{
	font-size:25px;
	font-style:normal;
	text-align:center;
	width:100%;
	margin-bottom:5px;
	text-indent:0;
	height:25px;
}
.sistema.nav-sm .col-left .main-menu-side i.fa-pratos{ background:url(../images/icon-pratos.png) center top no-repeat; }
.sistema.nav-sm .col-left .main-menu-side i.fa-produtos{ background:url(../images/icon-produtos.png) center top no-repeat; }
.nav-sm .child-menu{position:absolute; left:70px; top:0; background: #2a3f54; width: 150px;}
/* fim menu lateral */

.sistema .lancamentos .title-left i.fa-pratos{ background:url(../images/title-icon-pratos.png) center top no-repeat; width:25px; height:25px; }

.col-right{ float:right; }
.col-main{ background:#F7F7F7; margin-left:230px; height: 100%;}
.col-main.romaneios{ height:auto !important; }
.col-main.usuarios{ height:auto !important; }
.sistema.nav-sm .col-main{ margin-left:70px; }

.header{}
.header .top-info{ background-color:#1a1a1a; }
.top-info .container{ width:1170px; margin:0 auto; padding:10px 0; color:#FFF; }
.header .header-content{ background-color:#60210c; }
.header-content .header-center{ width:1170px; margin:0 auto; padding:10px 0; }
.header-center .logo{ float:left; width:35%; }
.header-center .menu{ float:left; width:65%; }

/* LOGIN */
.login{
	width:35%;
	margin:100px auto 0;
	padding:20px;
	background-color:#FFF;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 5px 7px 2px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 5px 7px 2px rgba(0,0,0,0.35);
	box-shadow: 0px 5px 7px 2px rgba(0,0,0,0.35);
}
.login .logo{ text-align:center; margin-bottom:30px; }
.login .form{ text-align:center; }
.login .campo{
	margin:0 auto;
	background-color:#d1d1d1;
	border:0;
	width:50%;
	height:40px;
	text-align:center;
	font-size:16px;
	color:#8e8077;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.login .botao{
	background-color:#3598dc;
	border:0;
	width:50%;
	color:#FFF;
	font-size:16px;
	padding:11px 0;
	margin:0 auto;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	cursor:hand;
	cursor:pointer;
}

.sistema .header{ background:#EDEDED; border-bottom:1px solid #D9DEE4; margin-bottom:10px; width:100%; min-height:60px; }
.sistema .header .logo{ margin:5px 20px 5px 5px; float:left; }
.sistema .header img{ border:0; }
.sistema .header .logout{ display:block; text-align:center; }
.sistema .header .logout label{ display:block; font-weight:bold; color:#2a3f54; cursor:pointer; }
.header .toggle{ float:left; margin:0; padding-top:16px; width:70px; }
.header .toggle a{ padding:15px 15px 0; margin:0; cursor: pointer; }
.header .toggle a i{ font-size:26px; }
.header .toggle a i:before{ content:"\f0c9"; color:#2A3F54; }
.header .header-menu{ margin:0 2%; }
.header .header-menu ul{ width:100%; text-align:right; }
.header .header-menu ul li{ padding:17px 0; display:inline-block; margin-left:20px; }

.header .icones{ font-family:Arial; font-size:12px; float:left; margin-top:5px; font-weight:bold; }
.header .icones a{ color:#000; }
.header .icones p{ margin:0; padding:0; }
.header .icones img{ margin-bottom:5px; }
.header .icones div{ text-align:center; float:left; margin-right:20px; }

.sistema .header .informacao{ padding:0 15px 0 0; font-family:Arial; float:right; }
.sistema .header .informacao p{ margin:5px 0 15px 0; }
.sistema .header .informacao a{ text-decoration:none; color:#002aff; }

.sistema .welcome{ padding:0; clear:both; }
.sistema .welcome ul{ list-style:none; margin:0; }
.sistema .welcome ul li{ display:inline; padding:0 10px 0 10px; font-family:Arial; text-transform:none; }
.sistema .welcome ul li a{ text-decoration:none; color:blue; font-weight:bold; }
.sistema .welcome ul li a:hover{ color:#FF0000; }


/* MENU LATERAL */
.menu-lateral{ width:200px; float:left; font-size:12px; background-color:#efefef; margin:15px 30px 0 0; font-weight:bold; }
.menu-lateral a{ color:#000; font-family:Arial; }
.menu-lateral ul{ margin:0; padding:0; border-top:1px solid #CCCCCC; }
.menu-lateral ul li{ padding:5px 10px; border-bottom:1px solid #CCCCCC; border-right:1px solid #CCCCCC; }

/* FOOTER */
.footer{ margin:0 ; padding:20px 0 10px; clear:both; background-color:#FFF; width:100%; border-top:1px solid #EFEFEF; color:#73879C; }
.footer div{ padding:0 10px; }

/* --- index --- */
body{
	margin:0;
	padding:0;
	font-family:'Open Sans', sans-serif, Arial;
	background: #f7f7f7;
}
img{ border:0; }
p{ margin:0; padding:0; }
a{ text-decoration:none; color:blue; }

.clear{ margin:0; padding:0; }
.botao{ background:#FFF; border:1px solid #000; }
.campo,
.campopy{
  width:100%;
	display:block;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857143;
	color:#555;
	background-color:#FFF;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.campopy{ margin-bottom:2px; }
.campo.produto-autocomplete{ width:85%; }
.label label{ color:#73879C; font-size:14px; font-weight:700; padding-left:15px; }
.multi{ width:435px; height:400px; margin-right:15px; }
.msg{ font-family:Arial; color:#FF0000; }
.select{
	display:block;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857143;
	color:#555;
	background-color:#FFF;
	border:1px solid #CCC;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.add-link{ font-size:12px; color:#FF0000; text-decoration:underline; cursor:pointer; }

.wrapper{ width:99.9%; text-align:center; }
.main{ width:100%;  margin:0 auto; }

/* --- login --- */
.login{ margin:10px auto 0 auto; width:350px; font-family:Arial; }
.login .form{  }
.login .form p{ text-align:center; padding:5px 0 0 0; font-size:12px; color:#656c76; }
.login .form .msg{ font-family:Arial; color:#FF0000; font-weight:bold; }
.login .form .campo{
	border:0;
	background:#656c76;
	color:#FFF;
	width:85%;
}
.login .form .opcoes{ padding-top:8px; }
.login .form .opcoes a{ color:#2b66b8; }
/* ------- */

/* --- topo ---*/
.topo{
	width:100%;
	margin:0;
	background:#FFF;
	font-family:Arial;
	border-bottom:1px solid #000;
}
.topo table{
	width:100%;
}
.topo table .logo{
	width:150px;
	padding-left:10px;
}
.topo table .dados{
	width:250px;
	font-size:12px;
}
.topo table .menu-topo{
	text-align:right;
	font-size:10px;
}
.topo table .menu-topo ul{
	list-style:none;
	margin:0;
	padding:0;
}
.topo table .menu-topo ul li{
	display:inline;
	float:left;
	text-align:center;
	padding:5px 20px;
}

.welcome{
	margin:0;
	padding:0;
	font-family:Arial;
	font-size:12px;
	text-transform:uppercase;
	text-align:left;
}
.welcome ul{ list-style:none; margin:0; padding:0; background-color:#efefef; border-top:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; padding:7px 0 8px 0; }
.welcome ul li{
	display:inline;
	text-align:center;
	padding-left:20px;
	margin:0;
	vertical-align:top;
}
.welcome ul li a{ color:#000; }

.conteudo-sistema{
	background:#FFF;
	font-family:Arial;
	text-align:left;
	padding:10px;
	width:98%;
}
.conteudo-sistema .modulo{
	border:1px solid #CCCCCC;
	padding:10px;
}
.conteudo-sistema .modulo table{
	width:90%;
}
.conteudo-sistema .modulo table .icone{
	text-align:left;
}
.conteudo-sistema .modulo table .novo{
	text-align:right;
}
.conteudo-sistema .filtro{
	width:90%;
	text-align:left;
	padding:10px 0 0 10px;
	font-size:12px;
}
.conteudo-sistema table{
	font-size:12px;
}
.conteudo-sistema .campo,
.conteudo-sistema .campopy{
	border:1px solid #000;
}

.cadastro{
	width:90%;
	margin-top:20px;

}
.cadastro .titulo{
	width:15%;
}
.cadastro .campo,
.cadastro .campopy{
	width:60%;
	border:1px solid #000;
}

.opinioes{ padding:7px; width:50%; background-color:#FFF; }

.nao-lida{ font-weight:bold; }

/* MINHA CONTA */
.minha-conta{ width: 74%; float:left; font-family:Arial; padding:15px 0 0 230px; min-height:400px; }
.minha-conta h1{ font-size:20px; font-weight:normal; font-style:italic; margin:0; padding:0 0 3px 0; border-bottom:1px solid #000; }
.minha-conta .formulario{ font-size:12px; }

/* DASHBOARD */
.dashboard{ margin:0 15px; padding-bottom:20px; font-size:12px; }
.home .dashboard{ text-align:center; }
.dashboard h1{ text-transform:uppercase; }
.dashboard h2{ margin:0 0 5px 0; font-size:18px; text-transform:uppercase; color:#73879C; }
.dashboard table{ width:100%; }
.dashboard table th{ text-align:left; padding:0 5px 5px; font-size:12px; }
.dashboard table td{ padding:3px 5px; vertical-align:middle; font-size:12px; }
.dashboard table td.action{ width:30px; }
.dashboard table td.name{ width:75%; }
.dashboard table .even{ background-color:#f6f6f6; }
.dashboard .aviso-critico{ font-weight:bold; }
.dashboard .aviso-urgente{ font-weight:bold; color:#FF0000; }
.dashboard table td.action a i{ padding-left:3px; cursor:pointer; cursor:hand; }

.data-count{ padding:10px 15px; margin-bottom:30px; }
.data-count .col-count{ float:left; width:18%; border-right:2px solid #ADB2B5; margin-right:2%; }
.data-count .col-count.count-money{ margin-right:0; border:0; }
.data-count .count-title{ font-size:13px; color:#73879C; }
.data-count .count{ font-size:30px; font-weight:bold; color:#73879C; }

.col-main .content{ background:#FFF; padding:10px; border-radius:10px; border:1px solid #E7E7E7; margin-bottom:20px; }
.col-1{ float:none; width:100%; }
.col-2{ float:left; width:45%; margin-right:2%; }

.home-report{ position:relative; }
.home-report .empty-block{ position:absolute; height:14px; left:0; right:0; margin-top:-12px; background:#FFF; z-index:9 }
.home-report .col-avg{ float:left; width:20%; border-right:2px solid #ADB2B5; margin-right:2%; min-height:85px; }
.home-report span{ font-size:12px; color:#73879C; }
.home-report .count{ font-size:30px; font-weight:bold; color:#73879C; }
.home-report .count p{ font-size:12px; font-weight:normal; }
.home-report .count strong{ font-size:18px; }

#date-report{
	background-color:#FFF;
	border:1px solid #ccc;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	border-radius:4px;
	padding:2px;
	width:150px;
	font-size:12px;
	font-family:'Open Sans', sans-serif, Arial;
}

.title-report h1{ margin:0 0 10px; padding:0; line-height:normal; text-align:center; font-size:30px; color:#73879C; }

.vendas-report .col-vendas{ float:left; width:18%; border-right:2px solid #ADB2B5; margin-right:2%; min-height:80px; overflow:hidden; }
.vendas-report .col-vendas .count-title{ font-size:13px; color:#73879C; }
.vendas-report .col-vendas .count{ font-size:30px; font-weight:bold; color:#73879C; line-height:30px; }
.vendas-report .col-vendas .quantidade{ font-size:13px; display:block; }

.page-title{ width:100%; height:50px; padding:0; margin-bottom:10px; }
.page-title .title-left{ width:45%; float:left; display:block; }
.page-title .title-left h3{ margin:9px 0; font-size:24px; font-weight:500; line-height:24px; color:#73879C; }
.page-title .buttons-right{ width:45%; float:right; display:block; text-align:right; line-height:44px; }
.btn-link{
	padding:14px;
	margin:0 10px 10px 0;
	min-width:80px;
	box-shadow:none;
	text-align:center;
	color:#666666;
	border:1px solid #ddd;
	background-color:#fafafa;
	font-size:14px;
	text-transform:uppercase;
	cursor:pointer;
	display:inline-block;
}
button.btn-link{ padding:16px; }
.btn-link:active,
.btn-link:focus{ box-shadow:inset 0 3px 5px rgba(0,0,0,.125); }
.btn-link:hover{ background-color:#f4f4f4; color:#444; border-color:#aaa; }
.bottom-actions{margin-bottom: 10px; clear:both; }
.bottom-actions.actions{ margin-top:14px; margin-bottom:25px; text-align:right; }

.filter-title{ border-bottom:2px solid #E6E9ED; width:100%; margin-bottom:10px; }
.filter-title h4{ margin:0; padding:0 0 7px; font-size:18px; font-weight:400; color:#73879C; }
.filter-fields .fields{ margin-bottom:5px; margin-right:7px; float:left; }
.filter-fields .fields .campo-busca{
	background-color:#FFF;
	border:1px solid #ccc;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	border-radius:4px;
	padding:2px;
	width:80px;
	font-size:12px;
	font-family:'Open Sans', sans-serif, Arial;
}
.filter-fields .fields .campo-busca.pagina{ width:30px; text-align:center; }
.filter-fields .buttons .btn-link{ padding:0 5px; margin:2px 7px 0 0; min-height:19px; cursor:pointer; }
.filter-fields .buttons .btn-link i{ margin-right:5px; }
.filter-fields td{ font-size:12px; font-family:'Open Sans', sans-serif, Arial; }

.content-result{ margin:7px 0; }
.content-result p.subtitle{ font-size:13px; font-weight:700; }
.content-result ul li{ font-size:12px; }

/* LANÇAMENTOS */
.lancamentos{ margin:0 2%; padding-bottom:10px; font-size:12px; }
.lancamentos h1{ font-size:20px; font-weight:normal; margin:0; padding:0 0 3px 0; border-bottom:1px solid #000; }
.lancamentos h1 strong{ font-style:italic; color:#FF0000; }
.lancamentos h1 .button{
	float:right;
	background:url(../images/btn_bg.gif) 0 100% repeat-x;
	border-color:#ED6502 #A04300 #A04300 #ED6502;
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	font-weight:bold;
	margin-left:10px;
}

.lancamentos .selecao{ margin:10px 0; }

.lancamentos .lista-pager table{
	margin-top:15px;
	width:100%;
	height:26px;
	background:#FFF;
	border:1px solid rgba(221,221,221,.78);
	border-width:1px 1px 0 1px;
	padding:5px 0;
}
.lista-pager .dados-busca{ font-size:12px; margin-bottom:10px; }
.lista-pager .campo-busca{ font-size:12px; background:none #FFFFFF; border:1px solid #CCCCCC; width:120px; margin-right:15px; }
.lista-pager table td{ width:50%; font-family:Arial; font-size:12px; padding:1px 8px; vertical-align:middle; }
.lista-pager table td.left{ text-align:left; width:70%; }
.lista-pager table td.right{ text-align:right; }
.lista-pager table td select{ font-size:12px; background:none #FFFFFF; border:1px solid #CCCCCC; }
.lista-pager table td .campo,
.lista-pager table td .campopy{ font-size:12px; background:none #FFFFFF; border:1px solid #CCCCCC; width:35px; }
.lista-pager table td .campo.select{ width:70px; }
.lista-pager table td .campo.data{ font-size:12px; background:none #FFFFFF; border:1px solid #CCCCCC; width:66px; }
.lista-pager table td .button{
	background:url(../images/btn_bg.gif) 0 100% repeat-x;
	border-color:#ED6502 #A04300 #A04300 #ED6502;
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	font-weight:bold;
}
.lista-pager span.pagina{ float:left; margin-right:5px; line-height:34px; }
.lista-pager span.pagina a i{ line-height:34px; }
.lista-pager .campo,
.lista-pager .campopy{ float:left; margin-right:5px; }
.lista-pager .clear{ display:none; }

.lancamentos .lista-action table{ margin-top:0; width:100%; background:url(../images/massaction_bg.gif) 0 100% repeat-x; height:26px; }
.lista-action table td{ width:50%; font-family:Arial; font-size:10px; padding:1px 8px; vertical-align:middle; }
.lista-action table td.left{ text-align:left; }
.lista-action table td.right{ text-align:right; }
.lista-action table td select{ font-size:12px; background:none #FFFFFF; border:1px solid #CCCCCC; }
.lista-action table td .button{
	background:url(../images/btn_bg.gif) 0 100% repeat-x;
	border-color:#ED6502 #A04300 #A04300 #ED6502;
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	font-weight:bold;
}

.lancamentos .lista table{ width:100%; margin-top:0; border:1px solid rgba(221,221,221,.78); }
.lista table th{
	border-top:0;
	vertical-align:bottom;
	border-bottom:2px solid #ddd;
	padding:8px;
	line-height:1.42857143;
	background:#35635f;
	color:#ECF0F1;
	font-size:13px;
	font-weight:400;
	text-align:left;
}
.lista table th.check{ width:4%; text-align:center; }
.lista table th.produto{ width:50%; }
.lista table th.nome{ width:30%; }
.lista table th.marca{ width:10%; }
.lista table th.valor{ width:10%; }
.lista table th.tamanho{ width:7%; }
.lista table th.telefone{ width:8%; }
.lista table th.frasco{ width:8%; }
.lista table th.quantidade{ width:4%; }
.lista table th.estoque{ width:7%; }
.lista table th.data{ width:10%; }
.lista table th.tipo{ padding:3px 0; text-align:center; }
.lista table th.status{ width:15%; padding:3px 0; text-align:center; }
.lista table th.acao{ text-align:center; width:10%; }

.lista table td{
	font-size:12px;
	padding:8px;
	line-height:1.42857143;
	background-color:#f9f9f9;
	vertical-align:top;
	border-top:1px solid #ddd;
	color:#73879C;
}
.lista table tr:hover td{ background:rgba(38,185,154,.07); border-top:1px solid rgba(38,185,154,.11); }
.lista table td .vencido{ color:#FF0000; }
.lista table td.first{  }
.lista table tbody .even{ background-color:#FFFFFF; }
.lista table td.check{ text-align:center; }
.lista table td.tipo{ text-align:center; }
.lista table td.status{ text-align:center; font-weight:bold; }
.lista table td.status a{ font-size: 20px; }
.lista table td.acao{ text-align:center; }
.lista table td.tamanho{ text-align:center; }
.fas.fa-trash-alt{ color:#FF0000; }

.lista tfoot tr td{ padding:10px 0; }
.lista tfoot tr td:first-child{ text-align:right; font-weight:bold; padding-right:10px; border-left:1px solid #dadfe0 }
.lista tfoot tr td:last-child{ text-align:center; font-weight:bold; }
/* FORMULÁRIO */
.lancamentos-formulario{ margin:0 2%; padding-bottom:5px; }
.lancamentos-formulario h1{ font-size:20px; font-weight:normal; font-style:italic; margin:0; padding:0 0 3px 0; border-bottom:1px solid #000; }
.lancamentos-formulario h1 .button{
	float:right;
	background:url(../images/btn_bg.gif) 0 100% repeat-x;
	border-color:#ED6502 #A04300 #A04300 #ED6502;
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	font-weight:bold;
	margin-left:5px;
}
.lancamentos-formulario .formulario{ margin-top:15px; }
.formulario table{ width:100%; }
.formulario table td{ padding:2px 0; }
.formulario table .label{ width:160px; font-size:12px; }
.formulario table .label .cifrao{ float:right; }
.formulario table .input .campo.produto{ width:80%; }
.formulario table .input .campo.textarea-field{ width:80%; height:150px; }
.formulario table .input .campo.valor{  }

.formulario table .pagamento-parcial td{ background-color:#EFEFEF; padding-left:10px; }
.formulario table .pagamento-parcial td.valores{ border-bottom:1px solid #CCCCCC; }

.produtos-field{ margin:10px 0; padding:5px 0; border-top:1px solid #CCC; }
.produtos-field strong{ font-size:14px; }
.produtos-field #produtos{ border:1px solid #000; }
.produtos-grid{ width:100%; margin-top:15px; margin-bottom:15px; font-size:12px; }
.cardapio .produtos-grid{ margin:0 !important; padding-left:15px; }
.produtos-grid .divAutocomplete{
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	display:block;
	float:left;
	padding:5px 9px;
	background:#1ABB9C;
	color:#FFF;
	font-size:13px;
	margin-right:5px;
	font-weight:500;
	margin-bottom:5px;
}
.produtos-grid .divAutocomplete span{ margin-left:5px; cursor:pointer; }
.produtos-grid .idProduto{
	float:left;
	width:10%;
	padding:8px;
	background:rgba(52,73,94,.94);
	border-bottom:2px solid #ddd;
	line-height:1.42857143;
	color: #ECF0F1;
	font-size:13px;
	font-weight:400;

}
.produtos-grid .nomeProduto{
	float:left;
	width:45%;
	padding:8px;
	background:rgba(52,73,94,.94);
	border-bottom:2px solid #ddd;
	line-height:1.42857143;
	color: #ECF0F1;
	font-size:13px;
	font-weight:400;
}
.produtos-grid .valorProduto{
	float:left;
	width:7%;
	padding:8px;
	background:rgba(52,73,94,.94);
	border-bottom:2px solid #ddd;
	line-height:1.42857143;
	color: #ECF0F1;
	font-size:13px;
	font-weight:400;
}
.produtos-grid .qtdeProduto{
	float:left;
	width:8%;
	padding:8px;
	background:rgba(52,73,94,.94);
	border-bottom:2px solid #ddd;
	line-height:1.42857143;
	color: #ECF0F1;
	font-size:13px;
	font-weight:400;}
.produtos-grid .actionProduto{
	float:left;
	width:10%;
	padding:8px;
	background:rgba(52,73,94,.94);
	border-bottom:2px solid #ddd;
	line-height:1.42857143;
	color: #ECF0F1;
	font-size:13px;
	font-weight:400;
}
.produtos-grid div input{ width:100%; }
.produtos-grid .inputId{ float:left; width:10%; padding:5px 5px 0; font-size:18px; }
.produtos-grid .inputNome{ float:left; width:45%; padding:5px 5px 0; font-size:18px; }
.produtos-grid .inputValor{ float:left; width:7%; padding:5px 5px 0; }
.produtos-grid .inputQtde{ float:left; width:8%; padding:5px 5px 0; }
.produtos-grid .inputAction{ float:left; width:10%; padding:5px 5px 0; text-align:center; }
.produtos-grid .inputAction .fas{ font-size:20px; margin-top:7px; }
.produtos-grid .inputAction span{ cursor:pointer; color:#FF0000; line-height:21px; }
.add-option{ cursor:pointer; font-size:11px !important; text-transform:uppercase; color:#FF0000 !important; }

.parcelas .data-parcela{  }
.parcelas .data-parcela  .campo,
.parcelas .data-parcela  .campopy{ width:80px; }

/* --- */

.relatorios-home{ padding-left:15px; width:350px; }
.relatorios-home h1{ font-size:14px; }
.relatorios-home .relatorio{ border:1px dashed #FF0000; padding:5px; margin-top:5px; }

.relatorios{ width:98%; margin:0 auto; float:none; }

.tipo-relatorio ul li{ display:inline-block; width:33%; text-align:center; }
.tipo-relatorio ul li a{ display:block; color:#000; font-weight:bold; text-transform:uppercase; margin-top:10px; }

.big-menu ul{ margin:15px 0 0; padding:0; }
.big-menu ul li{ display:inline-block; text-align:center; margin-right:20px; }
.big-menu ul li span{ display:block; font-size:20px; text-transform:uppercase; }

.content-dialog{
	width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: none;
    background-color: rgba(22,22,22,0.5); /* complimenting your modal colors */
	z-index:9;
}
.content-dialog:target {
    visibility: visible;
    display: block;
}
.dialog-popup{
	position: relative;
    margin: 0 auto;
    top: 15%;
	background:#FFF;
	width:48%;
	height:400px;
	padding:10px;
	border:1px solid #000;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.close-dialog{ float:right; text-align:right; color:#FF0000; }
.close-dialog span{ cursor:pointer; cursor:hand; }
.divAutocompleteDialog{ font-size:16px; padding:5px 5px 5px 0; }
.divAutocompleteDialog span{ margin-left:10px; color:#FF0000; cursor:pointer; }
.content-saldo{ min-height:370px; max-height:350px; overflow-y: scroll; }
.saldo-final{ text-align:right; font-size:20px; }
.saldo-final .credito{ color:#0000ff; }
.saldo-final .debito{ color:#FF0000; }
#saldo-grid li{ width:auto; font-size:12px; padding:10px 0 10px 10px; }
#saldo-grid li:nth-child(odd) { background-color:#EFEFEF; }
#saldo-grid li:nth-child(even) { background-color:#FFF; }
#saldo-grid li .data{ display:inline-block; width:15%; }
#saldo-grid li .tipo{ display:inline-block; width:15%; }
#saldo-grid li .valor{ display:inline-block; margin-right:10px; }
#saldo-grid li .valor.credito{ color:#0000ff; }
#saldo-grid li .valor.credito:before{ content:'+ '; }
#saldo-grid li .valor.debito{ color:#FF0000; }
#saldo-grid li .valor.debito:before{ content:'- ' }
#saldo-grid li .detalhes{ display:inline-block; color:#FF0000; cursor:pointer; text-decoration:underline; }

#saldo-grid p{ padding-left:5px; }
#saldo-grid p span{ font-size:12px; display:inline-block; }
#saldo-grid p span.produto{ width: 25%; }
#saldo-grid p span.quantidade{ width: 15%; }
#saldo-grid p span.valor{ width: 15%; }
#saldo-grid p span.subtotal{ width: 15%; }

.pedidos .endereco-form,
.pedidos .produtos-field,
.pedidos .produtos-grid{ display:none; }
.pedidos .telefone-form{ text-align:center; padding:30px 0; display:none; }
.pedidos .telefone-form h2{ text-transform:uppercase; color:#73879C; font-weight:normal; }
.pedidos .telefone-form input.campo{ margin:0 auto 30px; width:50%; height:55px; font-size:35px; text-align:center; color:#73879C; }
.pedidos .btn-buscar{ margin:0; }
.no-phone{ display:block; margin:20px; font-size:10px; }
.new-address{ font-size:10px; display:block; }
.pedido-observacoes{ border-top:1px solid #CCC; padding:5px 0; margin:10px 0; }
.pedido-observacoes #obs{ width:60%; }

.hint-field{ font-size:12px; }
/*here we go again*/
.block-default{width:94%; display:block; position:relative; margin: 0 auto; background: white; border-radius: 10px; box-shadow: 0 0 20px 0px #dedede;}
.block-content {padding: 15px;}
.block-default table{width:100%; text-align: center;}
.block-title{border-bottom: 2px solid #E6E9ED; margin-bottom:20px; width: 100%; display: flex; align-items:center; justify-content: space-between; padding-bottom: 10px;}
.block-title.filtros{ display:block; }
.filtros .filtro{ color:#73879C; font-size:14px; }
.filtros .filtro div{ margin-bottom: 10px; }
.filtros .filtro span{ display:inline-block; width:33%; }
.filtros .filtro label{ display:inline-block; min-width:140px; font-size:16px; text-transform:uppercase; font-weight:bold; }
.filtros .filtro .campo{ width:auto; display:inline-block; }
.filtros .filtro .botao{ border:1px solid #ccc; border-radius:4px; height:34px; min-width:100px; font-size:16px; font-weight:bold; color:#73879C; cursor:pointer; }
.filtros .filtro a.botao{ line-height:32px; display:inline-block; height:32px; }
.filtro p{ margin-top:10px; }
.filtro a{ color:#000; padding:0 5px; font-size:14px; }
.title{color: #73879C; font-size: 22px; margin-bottom: 10px;}
.block-subtitle{ border-bottom: 2px solid #E6E9ED; padding-bottom:10px; margin-bottom:20px; }
.subtitle{color: #73879C; font-size: 18px; margin-bottom: 0;}
.full{ width:100%; }
.lista-default table{width:100%; color: #000; border-collapse: collapse; outline: 1px solid #2a3f54;}
.lista-default th, .lista-default td{text-align: left; font-size: 15px; padding: 3px 7px !important;}
.lista-default td.status img{ vertical-align:bottom; }
#total-geral{ width:10%; }
.lista-default th.details, .lista-default td.details{ text-align:center; }
.lista-default thead tr{border-bottom: 2px solid #00000026; background: #2a3f54; color: white;}
.lista-default tr{border-bottom: 1px solid #dedede; padding-top: 5px;}
.lista-default tr:last-child{border:none;}
.lista-pager{margin-bottom:20px;}
.pintaLista{background: #f1f1f1;}
/*.lista-default tbody tr:hover{background: rgba(38,185,154,.07);}*/
.lista-default {margin-bottom:20px;}
.form-group{margin-bottom: 25px;}
.alltables{ padding-top:0; }
.static-content.active{ position:fixed; background-color: #FFF; padding:10px 0; top:0; min-width:99%; }
.form-group.col-3{ width:225px; display:inline-block; }
.form-group.info{ text-align:center; margin-bottom:15px; }
.form-group .block-form{ float:left; width:12%; margin-bottom:15px; }
.form-group .block-form.peca-edit{ margin-bottom:2px; }
.form-group .block-form label{ display:block; text-align:center; }
.form-group .block-form div{ text-align:center; margin-bottom:2px; }
.form-group .block-form div span{ display:inline-block; width:18px; }
.form-group .block-form .campo,
.form-group .block-form .campopy{ width:70%; display:inline-block; }
.grupos table{border-collapse: collapse; outline: solid 1px #2a3f54;}
.sistema{position:absolute; width:100%;}
.lista-default{margin-bottom: 30px;}
.marginR10{margin-right:10px;}
.busca {display: flex; align-items: center;}
.campo-busca {font-size: 28px; width: 120px;}
.btb{margin: 0 !important; min-width: 50px;}
.btl{margin: 0; padding: 10.5px; margin-left: 10px; min-width: inherit;}
.listaVerde{background: #97ff90;}
.listaVermelha{background: #ff9a9a;}
.listaLaranja{background: #fbdc95;}
.listaCinza{background: #848484;}
.status i{padding: 3px;}
.lb{display: block;}
.bordaB{border-bottom: 2px solid #E6E9ED; margin-bottom: 20px; padding-bottom: 20px;}
.lista-default tr:hover {outline: 1px solid black !important;}

#contato {
    background-color: #977c41;
    padding: 50px 0;
    height: 100%;
}

#contato .container {
    width: 95%;
    max-width: 1366px;
    margin: 0 auto;
}

#contato h2 {
    color: #fff;
    text-align: center;
    font-size: 50px;
}

#contato p {
    margin: 20px 0;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

#contato form {
    max-width: 800px;
    margin: 50px auto 0;
}

#contato form .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
		float: none;
		width: inherit;
}

#contato form .row .col {
    width: 100%;
    margin: 0 auto;
    display: block;
}

#contato form .row input {
    color: #fff;
    width: 100%;
    border: 0px solid transparent;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    padding: 8px 20px;
}

#contato form .row button {
    display: inline-block;
    padding: 10px 50px;
    cursor: pointer;
    border-radius: 30px;
    color: #977c41;
    transition: 0.2s;
    font-family: "RobotoSlab-Bold";
    border: 0px solid transparent;
    box-shadow: 0 8px 0px -5px #53421c;
    background: #fff;
}
#contato form .row input::placeholder{color:white;}
/* css responsivo */

@media (max-width: 1024px) {
	.sistema, .body-login{ height:3000px; }
	body.body-login{ min-height:0; background-size:100% 100%; }
	.login{ max-width:340px; padding:20px 0; }
	.login .form .campo{ height:50px; font-size:20px; margin-bottom:10px; }
	.login .botao{ font-size:20px; }
	.login .form .opcoes a{ font-size:150%; }

	.home-report span{ font-size:150%; }
	#date-report{ height:44px; width:220px; font-size:18px; }

	.dashboard .data-count .col-count{ width:25%; }
	.home-report .col-avg{ width:31%; }
	.home-report .col-avg:last-child{ margin:0; border:0; }
	.home-report .count{ font-size:180%; }
	.vendas-report .col-vendas{ width:23%; }
	.vendas-report .col-vendas:last-child{ margin:0; border:0; }
	.vendas-report .col-vendas .count{ font-size:180%; }

	.page-title{ min-height:55px; }
	.page-title .title-left{ width:30%; }
	.page-title .title-left h3{ font-size:140%; }
	.page-title .buttons-right{ width:70%; }
	.lancamentos{ font-size:20px; }
	.btn-link{ font-size:16px; }
	.filter-fields .fields .campo-busca{ height:44px; margin-top:2px; font-size:20px; width:115px; }
	.filter-fields .buttons button.btn-link{ padding:13px 10px 11px; }
	.filter-fields .buttons .btn-link{ padding:10px; min-height:28px; }
	.lista-pager table td .campo,
	.lista-pager table td .campopy{ height:44px; width:80px !important; font-size:20px; }
	.lista-pager span.pagina{ font-size:18px; line-height:44px; }
	.lista-pager span.pagina a i{ line-height:44px; }

	/*.campo{ height:44px; margin-bottom:10px; font-size:20px; width:90% !important; }*/
	.ui-menu a.ui-menu-item-wrapper{ font-size:20px !important; }

	.ui-widget.ui-widget-content{ width:50% !important; }
	.produtos-grid .divAutocomplete{ font-size:16px; }
}

@media (max-width: 800px) {
	body.body-login{ min-height:0; background-size:auto; }
	.login{ max-width:340px; padding:20px 0; }
	.login .form .campo{ height:50px; font-size:20px; margin-bottom:10px; }
	.login .botao{ font-size:20px; }
	.login .form .opcoes a{ font-size:150%; }

	.dashboard .data-count .col-count{ width:31%; border:0; }
	.data-count .count{ font-size:170%; }
	.home-report .col-avg{ width:30%; }
	.home-report .count{ font-size:170%; }
	.vendas-report .col-vendas .count{ font-size:120%; }
	.dashboard .col-2{ width:100%; padding:0; margin:0 0 20px; }
	.dashboard .col-2 div{ padding:10px; }

	.page-title{ min-height:100px; }
	.page-title .title-left{ width:100%; float:none; }
	.page-title .buttons-right{ width:100%; float:none; text-align:left; margin-top:10px; }
	.btn-link{ margin:0 10px 10px 0; }

	.content-result > div{ width:100% !important; margin-bottom:20px; }
	.content-result p.subtitle{ font-size:20px; }
	.content-result ul li{ font-size:18px; }
	.content-result ul li strong{ color:#FF0000; display:block; }
}

@media (max-width: 415px) {
	body.body-login{ min-height:0; background-size:auto; }
	.login{ max-width:340px; padding:20px 0; }
	.login .form .campo{ height:50px; font-size:20px; margin-bottom:10px; }
	.login .botao{ font-size:20px; }
	.login .form .opcoes a{ font-size:150%; }

	.menu-mobile-icon{ display:block; color:#FFF; font-size:20px; float:left; width:auto; text-align:center; padding:20px 5px; }
	.col-left{ position:initial; width:100%; min-height:1px; }
	.col-left .col-welcome{ padding-bottom:0; }
	.col-left .profile-icon{ width:15%; }
	.col-left .profile-icon .img-circle.profile-img{ margin:10px; }
	.col-left .welcome-msg{ width:70%; padding:5px 10px; }
	.menu-section{ margin:0; padding-bottom:10px; display:none; }
	.menu-section h3{ display:none; }
	.nav > li > a{ padding-top:8px; }
	.col-main{ margin:0; }
	.header .toggle{ display:none; }
	.data-count{ padding:10px 0 0; margin:0; }
	.data-count .col-count{ width:48%; margin-bottom:10px; min-height:65px; }
	.data-count .col-count.count-delivery,
	.data-count .col-count.count-pratos{ margin-right:0; border-right:0; }
	.data-count .count{ font-size:160%; }
	.col-2{ width:100%; padding:0 !important; }
	.col-2 div{ padding:10px; }
	.home-report .col-avg{ width:100%; margin:0 0 10px; border:0; min-height:0; }
	.page-title{ height:auto; margin-bottom:0; }
	.page-title .title-left{ width:96%; float:none; padding-left:15px; }
	.page-title .buttons-right{ width:100%; float:none; text-align:left; }
	.btn-link{ margin-left:0; font-size:20px; min-height:45px; display:inline-block; padding:0 7px; min-width:0; }
	button.btn-link{ min-height:47px; }
	.filter-fields .fields .campo-busca{ height:50px; }
	.lancamentos-formulario .formulario{ margin-top:0; }
	.lista-pager .clear{ display:block; margin:5px 0; }
	.lista table th:nth-child(1),
	.lista table td:nth-child(1),
	.lista table th:nth-child(4),
	.lista table td:nth-child(4),
	.lista table th:nth-child(5),
	.lista table td:nth-child(5){ display:none; }
	.lista table td{ padding:8px 4px; }
	.lista table td:nth-child(3){ width:50%; }
	.lista table td:nth-child(7){ width:30%; }
	.footer{  }
	.vendas-report .col-vendas{ float:none; width:100%; min-height:0; margin:0 0 10px; border:0; }
	.vendas-report .col-vendas .count{ line-height:normal; }
}

@media (max-width: 320px) {
	.login{ max-width:300px; }
	.login .form .campo{ height:50px; font-size:20px; margin-bottom:10px; }
	.login .botao{ font-size:20px; }
	.login .form .opcoes a{ font-size:150%; }

	.dashboard .data-count .col-count{ width:48%; }
	.title-report h1{ font-size:150%; }
}
.comment{ font-size:12px; font-style:italic; }

.block-group{ margin-bottom:10px; border-radius:5px; padding:15px; font-size:14px; }
.block-group.even{ background-color:#EFEFEF; }
.block-group.odd{}
.block-group .row{ margin-bottom:5px; border-bottom:1px solid #CCC; padding-bottom:5px; }
.block-group .cliente-codigo{ float:left; width:10%; }
.block-group .cliente-nome{ float:left; width:80%; }
.block-group .cliente-acao{ float:left; width:10%; text-align:center; }
.block-group .cliente-acao a{ color:#FF0000; font-weight:bold; }
.block-group .cliente-valor{ float:left; width:10%; }
.block-group .cliente-peca{ float:left; width:60%; }
.block-group .cliente-imagem{ float:left; width:30%; text-align:right; }
.block-group .cliente-imagem i{ font-size:12px; }
.block-group .cliente-pagamento{ padding:8px 0; }
.block-group .cliente-pagamentos{  }
.block-group .cliente-pagamentos p{ margin-bottom:4px; }
.block-group .cliente-pagamentos p span{ display:inline-block; min-width:70px; }

.modal p{ margin-bottom:10px; }
.modal .title{ color:#FF0000; text-align:center; text-transform:uppercase; font-size:18px; }
.modal .button{ text-align:right; }

.error-msg{ color:#FF0000; font-size:14px; text-transform:uppercase; text-align:center; }

.opacity{ background-color:#000; position:absolute; top:0; bottom:0; left:0; right:0; opacity:0.3; display:none; z-index:9 }

.msg-login{ width:80%; margin:0 auto; background-color:#FFF; margin-bottom:30px; padding:15px; border-radius:7px; text-align:center; font-family:Arial; }
.msg-login h2{ font-size:18px; text-transform:uppercase; }

/** IOS BUTTON EFFECT */
label.switch {  
  text-align: left;
  width: 35px;
  height: calc(35px / 2);
  border-radius:60px;    
  background-color:#4ed164;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

label.switch > span {
  display: block;
  width: 100%;
  height: 100%;
}

label.switch > input[type="checkbox"] {
  opacity: 0;
  position: absolute;
} 

label.switch > span:before, label.switch > span:after {
  content: "";
  cursor: pointer;
  position: absolute;
}

label.switch > input[type="checkbox"]:focus ~ span {
  box-shadow: 0 0 0 4px #43b556; 
}

label.switch > input[type="checkbox"]:checked:focus ~ span {
  box-shadow: 0 0 0 4px #fff;
}

label.switch > span {
  border-radius: 60px;    
}

label.switch > span:before {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
  transform: scale(1);
  opacity: 1;
}

label.switch > span:after{
  top: 50%;
  z-index: 3;
  transition: transform .4s cubic-bezier(0.44,-0.12, 0.07, 1.15);
  width: calc(35px / 2);
  height: calc(35px / 2);
  transform: translate3d(0, -50%, 0);
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);  
}
label.switch > input[type="checkbox"]:checked ~ span:before {
  transform: scale(0);
  opacity: .7;
}

label.switch > input[type="checkbox"]:checked ~ span:after {
  transform: translate3d(100%, -50%, 0);
}

.more-products{ font-size:12px; }