<?php
$msg = '&nbsp;';
if (array_key_exists('entrar', $_POST)) {
	$idUsuario = Login::autentica($_POST["login"], $_POST["senha"]);
	if ($idUsuario == 0) {
		$msg = 'LOGIN E/OU SENHA INVALIDO(S)!';
		//header("Location: index.php");
	} else {
		header("Location: index.php");
	}
}
?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<?php @header ('Content-type: text/html; charset=utf-8'); ?>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>WK Technology</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
	<script type="text/javascript" src="js/jquery/jquery-1.12.0.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="body-login">
	<div class="wrapper login">
		<div class="main">
			<div class="logo"><img src="images/logo.png" /></div>
			<div class="login-content">
				<div class="form">
					<p class="clear"></p>
					<form name="formulario" id="login-form" method="post" action="index.php" autocomplete="off">
						<p><input type="text" name="login" id="login" value="login" class="campo" /></p>
						<p><input type="text" name="senha" id="senha" value="senha" class="campo" /></p>
						<p><input type="submit" name="entrar" id="entrar" value="entrar" class="botao" /></p>
					</form>
					<p class="msg"><?php echo $msg; ?></p>
				</div>
			</div>

		</div>
	</div>
	<script type="text/javascript">
		$(document).ready( function() {
			$('#login').focus(function(){
				if($('#login').val() == 'login'){
					$('#login').val('');
				}
			});
			$('#login').focusout(function(){
				if($('#login').val() == ''){
					$('#login').val('login');
				}
			});

			$('#senha').focus(function(){
				if($('#senha').val() == 'senha'){
					$('#senha').val('');
					$("#senha").prop("type", "password");
				}
			});
			$('#senha').focusout(function(){
				if($('#senha').val() == ''){
					$('#senha').val('senha');
					$("#senha").prop("type", "text");
				}
			});

			$("#login-form").submit(function(event){
				var login = $('#login').val();
				var senha = $('#senha').val();
				if(login == 'login' || senha == 'senha'){
					if(login == 'login'){
						alert('Insira seu login');
					}
					if(senha == 'senha'){
						alert('Insira sua senha');
					}
					event.preventDefault();
				}
			});
		});
	</script>
</body>
</html>
